/*Reset*/
* {
  padding: 0;
  margin: 0;
}

/*Main Styling*/
body {
  width: 1200px;
  min-height: 100%;
  background-image: url(./img/Bakgrundsbild.svg);
  background-repeat: no-repeat;
  background-position-y: 11.5em;
  background-size: cover;
  background-color: #f9f9f9;
  font-family: 'Quicksand', sans-serif;
  margin: 0 auto;
 }

.wrapper {
  max-width: 1200px;
  margin: auto
  
}
 

 html {
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
  background-color: #f9f9f9;
}

a{
  text-decoration: none;
}


h1, h2, h3, h4, h5 {
  padding-top: 20px;
  padding-bottom: 10px;
  font-family: 'Segoe UI';
}



.App {
  text-align: center;
  margin: auto;
  
}

.navbar {
  margin-top: 3em;
  margin-bottom: 3em;
  background-color: #f9f9f9;
  
}

footer {
  margin: 0 auto;
}

.fixedHeader, .fixedFooter {
  width: 100%;
  position: fixed;
  padding: 10px 0;
  margin: 0 auto;
}

.fixedHeader{
  top:0;
}

.fixedFooter{
  bottom:0;
  align-items: center;
  background: #f9f9f9;
  padding:2em;
  max-width: 1200px;
}

.container{
  width: 80%;
  margin: 0 auto;
  overflow-y: scroll;
  height: 800px;
}
