/*Reset*/
* {
  padding: 0;
  margin: 0;
}

html {
  background-color: #f9f9f9 !important;
}

@font-face {
  font-family: "Ink Free";
  src: url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.eot"); 
  src: url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.eot?#iefix") 
  format("embedded-opentype"), 
  url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.woff2") 
  format("woff2"), 
  url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.woff") 
  format("woff"), 
  url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.ttf") 
  format("truetype"), url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.svg#Ink Free") format("svg"); 
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

@font-face {font-family: "Segoe UI Light"; 
  src: url("//db.onlinewebfonts.com/t/5076583fa2a14cd2cf3634ff59a1138b.eot");
  src: url("//db.onlinewebfonts.com/t/5076583fa2a14cd2cf3634ff59a1138b.eot?#iefix") format("embedded-opentype"), 
  url("//db.onlinewebfonts.com/t/5076583fa2a14cd2cf3634ff59a1138b.woff2") format("woff2"), 
  url("//db.onlinewebfonts.com/t/5076583fa2a14cd2cf3634ff59a1138b.woff") format("woff"), 
  url("//db.onlinewebfonts.com/t/5076583fa2a14cd2cf3634ff59a1138b.ttf") format("truetype"), 
  url("//db.onlinewebfonts.com/t/5076583fa2a14cd2cf3634ff59a1138b.svg#Segoe UI Light") format("svg"); }